{% extends 'layout.html' %}

{% block content %} 

<h1> Business News</h1>
<section class="roww ">
    {% for abc in full_post %}
    <main class="colu" >

        <h2><a href="#">{{ abc.title}}  </a></h2>
        {% if abc.image %}
        <img src="{{ abc.image.url }}" style="width:100%; height: 350px; object-fit: cover" alt="{{ abc.title}}">
        {% endif %}
        <p>{{ abc.body}}</p>
        <p>By {{ abc.author }} on {{ abc.created_on}}</p>
        <a href="#">Read More  </a>
        <hr>
    </main>

    {% endfor %}
</section>
    {% endblock %}