{% extends 'layout.html' %}
{% load static %}
{% block content %} 


<main class="container">
<div class="row">
    
        <section class="roww col-9">
            {% for abc in full_post %}
            <main class="colu" >
        
               
                {% if abc.image %}
                <img src="{{ abc.image.url }}" style="width:100%; height: 350px; object-fit: cover" alt="{{ abc.title}}">
                {% endif %}
                <h4><a href="{% url 'post_detail' slug=abc.slug %}">{{ abc.title|truncatechars:60}}  </a></h4>
                <hr>
                <p>{{ abc.body|truncatechars:150}}</p>
                <p>By {{ abc.author }} on {{ abc.created_on}}</p>
                <a href="{% url 'post_detail' slug=abc.slug %}"> More  </a>
                
            </main>
        
            {% endfor %}
        </section>
        
        <aside class="col-3">
            <h1> Sire Widget </h1>
        </aside>
        
</div>
</main>
    {% endblock %}