{% extends 'layout.html' %}
{% load static %} com
{% block content %} 
<h1>{{ f_post.title }}</h1>
{% if abc.image %}
        <img src="{{ f_post.image.url }}" style="width:100%; height: 350px; object-fit: cover" alt="{{ abc.title}}">
        {% endif %}

        <p>By {{ f_post.author }} on {{ f_post.created_on}}</p>
        <p>{{ f_post.body }}</p>

         <hr>   
         <h4>Comments</h4>

         {% for comment in comments %}
            <p><strong>{{ comment.author }}</strong> on {{ comment.created_on}} </p>
            <p>{{ comment.body }}</p>
{% empty %}
<p>No comments yet.</p>
         {% endfor %}

    {% if user.is_authenticated  %}
    <h3>Leave a comment</h3>
    <form method="post">
        
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'  class="btn btn-primary mt-2">Submit</button>
        
    </form >

    {% else %}
    <p>You must <a href="{% url 'login' %}?next={{ request.path }}" target="" rel="noopener noreferrer">log in</a> to comment.</p>
    {% endif %}
    {% endblock %}